info:
  title: ELIXIR 3D Beacons API
  version: 0.2.1
  description: >-
    OpenAPI 3 description of ELIXIR 3D-Beacons service. The service
    returns a list of homology models, PDB structures and the target sequence
    for a UniProtKB Accession.
openapi: 3.0.1
paths:
  '/uniprot/{qualifier}.json':
    get:
      parameters:
        - name: qualifier
          description: UniProtKB accession number (AC) or entry name (ID)
          in: path
          required: true
          schema:
            type: string
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum:
              - swissmodel
              - genome3d
              - foldx
              - pdb
          explode: true
        - name: template
          description: >-
            Template is 4 letter PDB code, or 4 letter code with assembly ID and
            chain for SMTL entries
          in: query
          required: false
          schema:
            type: string
        - name: range
          description: Specify a UniProt sequence residue range
          in: query
          required: false
          schema:
            type: string
            pattern: '^[0-9]+-[0-9]+$'
      responses:
        '200':
          description: >-
            Response includes query parameter, UniProt sequence summary and list
            of structures which may be empty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
  '/uniprot/{qualifier}.pdb':
    get:
      parameters:
        - name: qualifier
          description: UniProtKB accession number (AC) or entry name (ID)
          in: path
          required: true
          schema:
            type: string
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - seqid
              - seqsim
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum:
              - swissmodel
              - genome3d
              - foldx
              - pdb
          explode: true
        - name: template
          description: >-
            Template is 4 letter PDB code, or 4 letter code with assembly ID and
            chain for SMTL entries
          in: query
          required: false
          schema:
            type: string
        - name: range
          description: Specify a UniProt sequence residue range
          in: query
          required: false
          schema:
            type: string
            pattern: '^[0-9]+-[0-9]+$'
      responses:
        '200':
          description: Single PDB format coordinates as attachment
          content:
            application/json:
              schema:
                type: string
                format: binary
        '404':
          description: If no model or structure exists for given UniProt qualifier
  '/sequence/{sequence}.json':
    get:
      parameters:
        - name: sequence
          description: Amino acid sequence
          in: path
          required: true
          schema:
            type: string
        - name: provider
          in: query
          required: false
          schema:
            type: string
            enum:
              - swissmodel
              - genome3d
              - foldx
              - pdb
          explode: true
        - name: template
          description: >-
            Template is 4 letter PDB code, or 4 letter code with assembly ID and
            chain for SMTL entries
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: >-
            Response includes query parameter, sequence summary and list
            of structures which may be empty
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/result'
        '501': 
          description: If endpoint is not implemented
servers:
  - url: 'https://3dbeacons.org'
    description: 3D Beacons server
components:
  schemas:
    result:
      type: object
      properties:
        uniprot_entry:
          type: object
          description: 'Information on the UniProt accession the data corresponds to'
          properties:
            uniprot_md5:
              type: string
              description: 'MD5 hash of the UniProt sequence'
            sequence_length:
              type: integer
              description: 'Length of the UniProt sequence, e.g. 100'
            ac:
              type: string
              description: 'UniProt accession, e.g. P00520'
            id:
              type: string
              description: 'UniProt identifier, e.g. ABL1_MOUSE'
          required: [
            sequence_length,
            ac,
            id
            ]
        structures:
          type: array
          description: 'Information on the structures available for the UniProt accession'
          items:
            type: object
            properties:
              model_identifier:
                type: string
                description: 'Identifier of the model, e.g. a PDB id'
              provider:
                type: string
                description: 'Name of the model provider'
              created:
                type: string
                description: 'Datetime stamp in the format of yyyy/mm/dd hh:mm:ss'
              sequence_identity:
                type: number
                format: float
                description: 'Sequence identity of the model to the UniProt sequence'
              oligo_state:
                type: string
                description: 'Oligomeric state of the model, e.g. monomer'
              preferred_assembly_id:
                type: string
                description: 'Identifier of the preferred assembly in the model'
              coverage:
                type: number
                format: float
                description: 'Percentage of the UniProt sequence covered by the model'
              qmean_version:
                type: string
                description: 'Version of QMEAN used to calculate quality'
              qmean_avg_local_score:
                type: number
                format: float
                description: 'Average of the local QMEAN scores'
              coordinates_url:
                type: string
                description: 'URL of the model coordinates'
              in_complex_with:
                type: array
                description: 'Information on any macromolecules in complex with the protein of interest'
                items:
                  type: object
                  properties:
                    chain_id:
                      type: string
                      description: 'Chain identifier of the macromolecule'
                    name:
                      type: string
                      description: 'Name of the macromolecule'
                    id:
                      type: string
                      description: 'UniProt identifier, e.g. ABL1_MOUSE'
                    ac:
                      type: string
                      description: 'UniProt accession, e.g. P00520'
                  required: [
                    chain_id,
                    name
                    ]
              chains:
                type: array
                items:
                  type: object
                  properties:
                    chain_id:
                      type: string
                    segments: 
                      type: array
                      items:
                        type: object
                        properties:
                          templates:
                            type: array
                            description: 'Information on the template(s) used for the model'
                            items:
                              type: object
                              properties:
                                template_id:
                                  type: string
                                  description: 'Identifier of the templates, e.g. PDB id'
                                chain_id:
                                  type: string
                                  description: 'Identifier of the chain of the template'
                                template_sequence_identity:
                                  type: number
                                  format: float
                                  description: 'Sequence identity of the template with the UniProt accession'
                                last_updated:
                                  type: string
                                  description: 'Date stamp in the format of yyyy/mm/dd'
                                provider:
                                  type: string
                                  description: 'Provider of the template, e.g. PDB'
                                experimental_method:
                                  type: string
                                  enum: [
                                    'ELECTRON CRYSTALLOGRAPHY',
                                    'ELECTRON MICROSCOPY',
                                    'EPR',
                                    'FIBER DIFFRACTION',
                                    'FLUORESCENCE TRANSFER',
                                    'INFRARED SPECTROSCOPY',
                                    'NEUTRON DIFFRACTION',
                                    'POWDER DIFFRACTION',
                                    'SOLID-STATE NMR',
                                    'SOLUTION NMR',
                                    'SOLUTION SCATTERING',
                                    'THEORETICAL MODEL',
                                    'X-RAY DIFFRACTION'
                                    ]
                                  description: 'Experimental method used to determine the template'
                                resolution:
                                  type: number
                                  format: float
                                  description: 'Resolution of the template'
                                preferred_assembly_id:
                                  type: string
                                  description: 'Identifier of the preferred assembly of the template'
                              required: [
                                template_id,
                                chain_id,
                                last_updated,
                                provider, 
                                experimental_method, 
                                resolution,
                                template_sequence_identity
                                ]
                          seqres:
                            type: object
                            description: 'Information on the sequence of the model'
                            properties:
                              aligned_sequence:
                                type: string
                                description: 'Sequence of the model'
                              from:
                                type: string
                                description: 'Residue number of the first residue'
                              to:
                                type: string
                                description: 'Residue number of the last residue'
                            required: [
                              aligned_sequence,
                              from,
                              to
                              ]
                          uniprot:
                            type: object
                            properties:
                              aligned_sequence:
                                type: string
                                description: 'Sequence of the UniProt accession'
                              from:
                                type: integer
                                description: 'Residue number of the first residue'
                              to:
                                type: integer
                                description: 'Residue number of the last residue'
                            required: [
                              aligned_sequence,
                              from,
                              to
                              ]
                          residues: 
                            type: array
                            items:
                              type: object
                              properties:
                                qmean: 
                                  type: number
                                  format: float
                                  description: 'QMEAN score'
                                model_residue_label:
                                  type: string
                                  description: 'Model residue index'
                                uniprot_residue_number:
                                  type: integer
                                  description: 'UniProt residue index'
                              required: [
                                model_residue_label,
                                uniprot_residue_number
                                ]
                        required: [
                          seqres,
                          uniprot,
                          residues
                          ]
                  required: [
                    chain_id
                    ]
            required: [
              provider,
              created,
              sequence_identity,
              oligo_state,
              coverage,
              coordinates_url,
              chains
              ]
      required: [
        uniprot_entry,
        structures
        ]